
.facility-card {
  padding: 0;
  max-height: 4.18rem;
  margin: .5rem 0;
  
}
@media only screen and (max-width: 600px) {
  .facility-card {
    padding: 0;
    max-height: 8rem;
  }
}

.facility-inner-card {
  margin: .6rem;
  padding: .5rem;
  border-radius: 6px;
}

.badgets-fixed-height-facility {
  height: 1.1rem;
  margin: .05rem;
  font-size: 10px;
  
}

.facility-name-unit {
  display: flex;
  justify-content: space-between;
  
}

.facility-name-card {
  font-size: 1.1rem;
  font-weight: 700;
}


.phone-icon {
  font-size: .8rem;
  margin-right: .3rem;
  color: rgb(66, 82, 82);
}

.facility-add-link {
  display: inline-block;
  margin-bottom: .8rem;
  background-color: #98c4d1;
  border-radius: 3px;
  border: solid 1px #c4b4b5;
  box-shadow: 3px 2px 2px 2px rgba(0, 0, 29, 0.22);
  padding: .3rem;
}

.facility-link {
  color: #443334;
  text-decoration: none;
}

.facility-link:hover {
  color: orange;
  text-decoration: none;
}

.facility-add-link-box {
  display: flex;

  gap: 4rem;
}



@media only screen and (max-width: 1200px) {
  .facility-card {
    font-size: .8rem;

  }
  .facility-name-card {
    font-size: .9rem;
    font-weight: 600;
  }

  .facility-card {
    max-height: 3.4rem;
  }

  .badgets-fixed-height-facility {
    font-size: 8px;
    height: .8rem;
  margin: .08rem;
    
  }
  
}










