.side-bar-container {
  padding: .7rem;
  min-width: 11rem;
  min-height: 100vh;
  background: #3b1616
}

.side-bar-list a {
  color: #d3b3b5;
  text-decoration: none;
}

.side-bar-list li {
  border-radius: 3px;
  padding: .4rem;
  margin: 6px;
  
  box-shadow: 0px 0px 2px 1px rgba(191, 191, 202, 0.22);
}

.side-bar-list li:hover, li:focus {
  background: #4b2222;

}

.side-bar-list a:focus {
  color: #ce6840;
  text-decoration: none;
}
.side-bar-list a:hover {
  color: #fabe96;
  text-decoration: none;
}

.current-page {
  color: antiquewhite;
}